
.container {
border: 5px solid black;
display: flex;
/*height: 90%;*/
/*flex-direction: row;*/
/*justify-content: flex-end;*/
/*align-items: flex-end;*/
/*flex-wrap: wrap;*/
}

/*MAIN AXIS codes*/

/* AXIS
Main AXIS - LEFT to RIGHT - Horizontal
Cross AXIS - TOP to BOTTOM - Vertical
 */

/* JUSTIFY CONTENT+++++++++
default is FLEX-START
flex-start, flex-end,
center, space-around, space-between,space-evenly
.container {
justify-content: space-evenly;
}
 */
/* +++++++++++++ */
/* JUSTIFY CONTENT - MARGIN AUTO
KEEP IN MIND
* How the DIVs are arranged in HTML
*
 */
.home1 {
 }

.search2 {
/*margin-left: auto; */
/* JUST THIS CODE will push SEARCHLOGOUT to the right.
 */

 }
.logout3 {
	/*margin-left: auto;*/
/* gives Logout an auto margin left thus pushing it to the right.*/
 }

/* +++++++++++++ */
/* FLEX Property - Items will become responsive ++++++++ */
/*
* Flex will allocate space for all items width. Fill the whole container if chose all DIV.
* They grow and shrink together.
*/
.container > div {
/*code above will choose all DIV element*/
/*flex: 1;*/
}
.container > .search2 {
	/*flex: 2;*/
}
/*FLEX TUTORIAL++++++++++++++++++
flex-grow default - 0
flex-shrink default - 1
flex-basis -

.home {
flex: 1 1 200px
}
.logout {
 flex: 10 1 200px
}
 */
/* +++++++++++++ */

/*CROSS AXIS CODES*/

.container {

 }










/* ORDER - FLEXBOX TUTORIAL ++++ */
/*
order - default value 0
Put 1 && >1 value and above and item will move to the end.

.home1 {
	order: 1;
}
.search2 {
	order: 0;
}
.logout3 {
	order: -1;
}
 */


/*.container > div {*/
/* width: 300px;}*/


/*.logout {*/
/*align-self: flex-start;*/
/*}*/

/*.home {*/
/*align-self: flex-end;*/
/*}*/

/*.logout {*/
/* flex: 1;*/
/* }*/
/*margin-left: auto;

/*.search {*/
/*!* margin-left: auto;*!*/
/* }*/

/* .home {*/
/* flex: 1;*/
/* }*/
/*!* margin-right: auto;*!*/
/*!*	!*!*margin-left: auto;*!*!*!*/

/*.container > div {*/
/*flex: 1;*/
/* width: 33.33px;*/
/*}*/

/*.container > .search {*/
/*flex: 2;*/
/*} !* select search. more specific.*/