* {
box-sizing: border-box
}

body {
 margin: 0;
 }


/*Div box Colors*/

.color1 {
background-color: lightyellow;
}

.color2 {
  background-color: lightblue;
}

.color3 {
  background-color: lime;
}

.color4 {
  background-color: darkorange;
}

div {
  border: 2px solid black;
  /*width: 10%;*/
 padding: 1em;
  /*align-items: baseline;*/
}

section {
  height: 200px;
  width: 100%;
  background-color: cyan;
  /*display: flex;*/

  /*flex-direction: row;*/
  /*flex-direction: row-reverse;*/
  /*flex-direction: column;*/
  /*flex-direction: row-reverse;*/

  /*justify-content: flex-start;*/
  /*justify-content: flex-end;*/
	/*justify-content: center;*/
	/*justify-content: space-between;*/
	/*justify-content: space-around;*/
	/*justify-content: space-evenly;*/
}


