.fancy-header {
    color: darkred;
    text-decoration: underline;
    text-align: center;
}

body {
    background-color: lightblue;
}
.img-div1 {
    width: 40%;
    height: auto;
}

.img-div2 {
    width: 40%;
    height: auto;
    /*float: right;*/

}

.img-div3 {
    width: 40%;
    height: auto;
}

.img-div4 {
    width: 40%;
    height: auto;
    /*float: right;*/
}