.img-div1 {
    width: 40%;
    height: auto;
}

.img-div2 {
    width: 40%;
    height: auto;
    /*float: right;*/

}

.img-div3 {
    width: 40%;
    height: auto;
}

.img-div4 {
    width: 40%;
    height: auto;
    /*float: right;*/
}

/*#img-section1 {*/
/*    display: flex;*/
/*    width: 50%;*/
/*    height: auto;*/
/*}*/

/*#img-section2 {*/
/*    display: flex;*/
/*    width: 50%;*/
/*    height: auto;*/
/*}*/
